@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,500;9..40,700&family=Taviraj:wght@200;500;600&display=swap");

:root {
  --brand-green: #0e9e54;
  --brand-light-purple: #f4f2fe;
  --brand-pink: #f7b1cc;
  --brand-orange: #f15e22;
  --box-shadow: 5px 4px 0px black;
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Taviraj", serif;
}

button {
  display: block;
  margin: 0 auto;
  font-family: var(--primary-font);
}

body {
  margin-top: 100px;
  background: #f3ede5;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  color: var(--brand-orange);
  font-family: var(--primary-font);
}

h2 {
  font-size: 40px;
  padding: 28px;
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: var(--secondary-font);
}

.about_me_h2 {
  font-size: 40px;
  margin-top: 40px;
  line-height: 1;
  font-family: var(--secondary-font);
}

.h2_work {
  margin-top: 30px;
  font-size: 40px;
  padding: 10px 30px;
  line-height: 1;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.work_p {
  font-family: var(--secondary-font);
  font-size: 18px;
  padding: 0px 20px;
}

.work_link {
  color: var(--brand-green);
}

.work_link:hover {
  color: var(--brand-orange);
  cursor: pointer;
}

h3 {
  font-size: 24px;
  color: var(--brand-green);
  font-family: var(--primary-font);
}

p {
  border-radius: 4px;
  padding: 0px 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin: 0px;
  font-family: var(--secondary-font);
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid lightgrey;
}

.img-work {
  aspect-ratio: 16/9;
}

img.indy {
  height: 90%;
  width: 100%;
}

footer {
  background-color: var(--brand-orange);
  color: white;
  text-align: center;
  padding: 10px;
  height: 100px;
  display: block;
  font-size: 30px;
}

footer ul {
  margin-top: 20px;
}

footer li {
  display: inline;
  margin: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

label {
  font-family: var(--secondary-font);
}

.mynavbar {
  background-color: #e2d6ea !important;
  font-family: var(--primary-font);
}

.p-background {
  background: var(--brand-light-purple);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
  height: 408px;
}

.p-background-work {
  background: var(--brand-light-purple);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
  height: 351px;
}

.p-background2 {
  background: var(--brand-green);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
}

.p-no-background {
  padding: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link {
  color: var(--brand-green);
  border: 1px solid var(--brand-green);
}

.contact-link {
  background: var(--brand-green);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
}

.section-btn {
  background: var(--brand-green);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  margin: 0 auto;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--brand-green);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.homepage-link {
  color: var(--brand-green);
  text-align: center;
  display: block;
}

.img_description_header {
  text-align: center;
  font-weight: 700;
  font-family: var(--secondary-font);
  font-size: 18px;
}

.img_description {
  font-family: var(--secondary-font);
  font-size: 14px;
  text-align: center;
  padding: 2px 10px;
}

.indy_text {
  font-family: var(--secondary-font);
  font-size: 12px;
}

.work_h2 {
  color: var(--brand-pink);
  text-align: left;
}

.work_p {
  color: black;
  text-align: center;
  padding: 0px 30px;
}

.skills-icon {
  background: #f9f7fe;
  border: 3px solid rgba(39, 33, 66, 0.1);
  border-radius: 20%;
  max-width: 60px;
  min-width: 60px;
  text-align: center;
}

.skills {
  background-color: var(--brand-green);
  color: var(--brand-light-purple);
  text-align: center;
}

.react-icon {
  margin-bottom: 7px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    margin-top: 0px;
  }

  .h1-about {
    margin-top: 80px;
  }

  h2 {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    padding: 0px;
  }

  .h2_work {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .work_p {
    font-size: 14px;
  }

  img.indy {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0px !important;
  }

  h3 {
    margin: 0px;
    font-size: 16px;
    padding: 0px 50px;
  }

  p {
    font-size: 14px;
    padding: 20px;
    font-family: var(--secondary-font);
  }

  .p-background {
    height: 400px;
  }

  .p-background-work {
    height: 300px;
    background-color: var(--brand-light-purple);
  }

  footer {
    background-color: var(--brand-orange);
    color: white;
    text-align: center;
    height: 80px;
    font-size: 30px;
  }

  footer ul {
    margin-top: 10px;
    padding: 0;
  }

  .navigation-links {
    margin: 0px;
    padding: 12px 15px;
  }

  .section-btn {
    background: var(--brand-green);
    box-shadow: var(--box-shadow);
    color: white;
    padding: 12px 15px;
    margin: 0 auto;
    display: block;
  }

  img {
    margin: 0px;
  }

  .img_description {
    margin-bottom: 14px;
  }

  .navbar-toggler {
    margin: 0px !important;
  }
}
